/cn_data
/global_data
is_stages_list_read.json
is_stages_list.json
test.json
gameconst.json
relics_*
characters_read.json
characters.json
characters_zh.json
characters_ja.json
characters_en.json
variations*
disasters.json
skz_fragments.json
temp.json
__pycache__/
sitemap.txt
.vscode
temp.txt
ro_wave_timelines/*/*
system_token_skills.json
stage_predefines.json